include includes/variables.pug
doctype html
include includes/head.pug

body
	header
		h1 R&eacute;sum&eacute;
		aside #{name} &ndash; #{email} &ndash; #{phone}
	main
		section.major.exp
			h2 Experience
			section.exp.qualifications
				h3 Packager
				div.context
					p Heidelberg Baking Company &ndash; May 2017 to present
				ul
					li Assembled packages from an assembly line in stacks of trays
					li Organized the interior of a large industrial freezer
					li Counted out units ranging from individual dinner rolls to dozens of packages and labeled orders
					li Followed food service protocol in the packaging of bread products
					li Loaded stacks of trays into trucks using handcarts
			section.exp.qualifications
				h3 Webmaster
				div.context
					p The Lake House &ndash; May 2016 to April 2017
				ul
					li Maintained public information as well as internal technology for a hospital business
					li Photographed the bussiness's properties for its websites and social media pages
					li Developed a new website, involving custom code integrated with a content management system
					li Managed the business's Facebook and Twitter accounts, involving the design of social media graphics
					li Filmed, edited, and published promotional videos for the business's primary website and YouTube channel
					li Performed various secretarial and internal publishing tasks, including editing and printing a restaurant menu
			section.exp.qualifications
				h3 Consultant
				div.context
					p April 2017 to February 2018
				ul
					li Discussed content management systems and website publishing options with three small businesses
					li Wrote code for a dropdown menu for one small business's websites
					li Educated staff regarding website deployment and the basics of website code
			section.exp.qualifications
				h3 Writer
				div.context
					p March 2012 to present
				ul
					li In early 2018, launched a blog &ndash; 
						a(href='http://reviews.transcendentdestinies.net/') reviews.transcendentdestinies.net 
						| &ndash; for analytical commentary about narrative entertainment media
					li Between 2012 and 2014, submitted five reviews accepted for publication on
					a(herf='http://speculativefaith.lorehaven.com/author/paullee/') Speculative Faith
		section.major.edu
			h2 Education
			section.edu.qualifications
				h3 B.S. Communication &amp; Information Design
				div.context
					p SUNY Polytechnic Institute &ndash; August 2013 to May 2015
			section.edu.qualifications
				h3 A.S. Communication Arts: New Media
				div.context
					p Herkimer County Community College – August 2010 to December 2012
		section.major.obj
			h2 Objective
			p Whether working with my hands or with words, I will translate values so that they can be experienced, shared, and validated.
		footer
			section
				div.attr
					p Hosted with 
						a(href='https://github.com/StrivenWord/strivenword-resume-site') GitHub 
						| Pages
				div.contact
					h4 #{name}
					p #{email}
					p #{phone}
			aside
				p Last updated: #{compiledOn}