include includes/variables.pug
include includes/mixins.pug
doctype html

+headinfo('Design and Writing by Paul Lee')

body
	header
		h1 R&eacute;sum&eacute;
		aside #{name} &ndash; #{email} &ndash; #{phone}
	main
		section.major.exp
			h2 Experience
			section.exp.qualifications
				h3 Packager
				div.context
					p Heidelberg Baking Company &ndash; May 2017 to present
				ul
					li Helped manage inventory by organizing the interior of a large industrial freezer
					li Assembled packages off of an assembly line in organized stacks of trays
					li Counted out units ranging from individual dinner rolls to dozens of packages
					li Determined most efficient packaging units to ship specific quantities of product
					li Performed quality assurance on packages and products before sending them out to customers
					li Loaded stacks of trays into trucks using handcarts
			section.exp.qualifications
				h3 Webmaster
				div.context
					p The Lake House &ndash; May 2016 to April 2017
				ul
					li Managed both public information and internal technology for a hospitality business
					li Photographed, filmed, and produced visual media for the business’s websites and for submission to local media outlets
					li Developed a new website, involving custom code integrated with a content management system
					li Coordinated social media strategy and implemented audience outreach with Twitter and Facebook
					li Answered business calls and recorded reservation data in a property management system and in a Google spreadsheet
					li Created printed materials, such as a restaurant menu, involving layout design in word processing software
		section.major.edu
			h2 Education
			section.edu.qualifications
				h3 B.S. Communication &amp; Information Design
				div.context
					p SUNY Polytechnic Institute &ndash; August 2013 to May 2015
			section.edu.qualifications
				h3 A.S. Communication Arts: New Media
				div.context
					p Herkimer County Community College – August 2010 to December 2012
		section.major.obj
			h2 Summary
			p Field media production generalist with experience in factory, food service, and secretarial environments
			h2 Objective
			p With words, with technology, and with my hands, to effectively actualize values and ideas
		footer
			section
				div.contact
					h4 #{name}
					p #{email}
					p #{phone}
				div.attr
					p Hosted with 
						a(href='https://github.com/StrivenWord/strivenword-resume-site') GitHub 
						| Pages
			aside
				p Last updated on #{compiledOn}.