include includes/variables.pug
include includes/mixins.pug
doctype html

+headinfo('Résumé of Paul Lee', 'resume')

body
	header
		h1 R&eacute;sum&eacute;
		aside #{name} &ndash; #{email} &ndash; #{phone}
	main
		section.major.exp
			h2 Experience
			section.exp.qualifications
				h3 Instructor of Computer Applications
				div.context
					p Houghton College Utica &ndash; August 2018 to present
				ul
					li Designed a project-based curriculum for teaching the Microsoft Office software programs together with computer literacy and digital workflow efficiency skills
					li Executed two-and-half-hour long class sessions containing lectures, practical implementations of technologies, and technology-based activities
					li Taught both applied theory behind the curriculum material and specific skills in professional fields related to the subject matter
					li Learned students' cultural background and researched technology solutions related to the curriculum in order to demonstrate to the students how they can use the skills taught by the class in their native language
				h3 Packaging &amp; Inventory Specialist
				div.context
					p Heidelberg Baking Company &ndash; May 2017 to present
				ul
					li Promoted to semi-independent inventory role, with occasional supervisory responsibilities
					li Assisted office with website code and strategy
					li Ensured proper labelling, organization, and shipment for sophisticated orders
					li Managed inventory by organizing the interior of a large industrial freezer
					li Experimented with quantities and package types to ship specialized orders efficiently
					li Performed quality assurance on packages and products before sending them out to customers
					li Worked with handcarts, assembly lines, tagging machines, and wheeled racks
			section.exp.qualifications
				h3 Webmaster
				div.context
					p The Lake House &ndash; May 2016 to April 2017
				ul
					li Managed both public information and internal technology for a hospitality business
					li Photographed, filmed, and produced visual media for the business’s websites and for submission to local media outlets
					li Developed a new website, involving custom code integrated with a content management system
					li Coordinated social media strategy and implemented audience outreach with Twitter and Facebook
					li Answered business calls and recorded reservation data in a property management system and in a Google spreadsheet
					li Created printed materials, such as a restaurant menu, involving layout design in word processing software
		section.major.edu
			h2 Education
			section.edu.qualifications
				h3 B.S. Communication &amp; Information Design
				div.context
					p SUNY Polytechnic Institute &ndash; August 2013 to May 2015
			section.edu.qualifications
				h3 A.S. Communication Arts: New Media
				div.context
					p Herkimer County Community College – August 2010 to December 2012
		section.major.obj
			h2 Summary
			p Field media production generalist with experience in factory, food service, and secretarial environments
			h2 Objective
			p With words, with technology, and with my hands, to effectively actualize values and ideas
		footer
			section
				div.contact
					h4 #{name}
					p #{email}
					p #{phone}
				+gh('div')
			+updated('aside')